.main-container {


    .left-container {
        display: inline-block;
        width: 50%;
        height: 100%;
    }

    .right-container {
        display: inline-block;
        width: 50%;
        height: 100%;
    }
}